{% extends 'base.html' %}

{% block content %}
    <div class="container jumbotron col-lg-8 col-md-8 col-sm-8">
        <h1>Welocome to Racerfly Mail System</h1>

        <ul>
            <li>Please Login into the Website to Send mail.</li>
            <li>
                This webisite can send bulk customised mail to the users.
            </li>
            <li>
                Only if you are an admin then you can access the feautes of this website.
            </li>
            <li>
                To visit our main website please go to "Racerfly.com"
            </li>
        </ul>
    </div>
{% endblock %}